@model EmployeeViewModel
@{
    ViewBag.Title = ViewBag.Action;
}

<h2>@ViewBag.Action</h2>'

<br />

@*@Html.Partial("", Model.Empolyee);*@


@*hna ana msh bdeha method mo3ina get/post 3lshan tro7 l nfs l action f l comtroller l wa2fa 3leh w de mezt eny a3ml l get w l post bnfs l esm*@ 
@using (Html.BeginForm(ViewBag.Action as string,"Empolyees",FormMethod.Post))
{
    if (ViewBag.Action == "Edit")
    {
    @Html.HiddenFor(m =>m.Empolyee.Id)

    }

    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(m=> m.Empolyee.Name, new { @class = "form-control"})
        @Html.ValidationMessageFor(m =>m.Empolyee.Name)
    </div>

    <div class="form-group">
        <label>Department</label>
        @Html.DropDownListFor(m => m.Empolyee.FK_DepartmentId,new SelectList(Model.Departments,"Id","Name"),"Select Department",new { @class="form-control"})
        @Html.ValidationMessageFor(m => m.Empolyee.FK_DepartmentId)
    </div>
    <div class="form-group">
        <label>Age</label>
        @Html.TextBoxFor(m => m.Empolyee.Age,new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Empolyee.Age)
    </div>

    <div class="form-group">
<label>Email</label>
        @Html.TextBoxFor(m=> m.Empolyee.Email ,new { @class="form-control"})
        @Html.ValidationMessageFor(m =>m.Empolyee.Email)
    </div>

    <div class="form-group">
        <label>Gender</label>
        @Html.EnumDropDownListFor(m => m.Empolyee.Gender,new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Empolyee.Gender)
    </div>

    <div>
        <input type="submit"  value="@ViewBag.Action" class="btn btn-primary"/>
        <a class="btn btn-success" href="/empolyees/index">Back to list :)</a>
    </div>

}



